@model Employee
<h2>Add details for new employee</h2>

@*
HTML Helpers
Tag Helpers
*@

<form class="row g-3" action="/employee/add" method="post">
    <div class="col-md-6">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" >
    </div>
    <div class="col-md-6">
        <label asp-for="Address" class="form-label"></label>
        <input asp-for="Address" class="form-control" >
    </div>

    <div class="col-md-6">
        <label asp-for="Phone" class="form-label"></label>
        <input asp-for="Phone" class="form-control" >
    </div>
    <div class="col-md-6">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" >
    </div>

    <div class="col-md-6">
        <label asp-for=Gender class="form-label"></label>
        <select class="form-select" asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()">

        </select>
    </div>

    <div class="col-md-6">
        <label asp-for=Dob class="form-label"></label>
        <input asp-for="Dob" class="form-control" >
    </div>

    <div class="col-md-6">
        <label asp-for=JoinDate class="form-label"></label>
        <input asp-for=JoinDate class="form-control" >
    </div>

    <div class="col-md-6">
        <label asp-for=DesignationId class="form-label"></label>
        <select class="form-select" asp-for="DesignationId" asp-items="@ViewData["DesignationList"] as IEnumerable<SelectListItem>">
            
        </select>
    </div>

    <div class="col-md-6">
        <label asp-for=DepartmentId class="form-label"></label>
        <select class="form-select" asp-for="DepartmentId" asp-items="@ViewData["DepartmentList"] as IEnumerable<SelectListItem>">
        </select>
        </div><br>
    <div class="col-12">
        <button type="submit" class="btn btn-primary w-25 float-end">Save</button>
    </div>
</form>
