@{
    ViewData["Title"] = "Home Page";
   <style>
        #Welcome {
            color:blue;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight:500;
   }
   #Human{
            color: red;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: 500;
        }
        #Tool{
            color: blue;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: 500;
        }
   
   
   </style>
}
<br>
<br>
<br>
<br>
<div class="text-center">
    <h1 id="Welcome" class="display-4">Welcome To</h1><br>
    <h1 id="Human" class="display-1">Human Resource Management </h1><br>
    <h1 id="Tool" class="display-1">Tool</h1>
</div>

